<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pop_circle.personalassistant" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".calendarActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add_events_activity"
            android:label="@string/title_activity_add_events_activity" >
        </activity>
        <activity
            android:name=".TaskManager"
            android:label="@string/app_name" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".Personalize" >
        </activity>
        <activity android:name=".Register" >
        </activity>
        <activity android:name=".Budget" >
        </activity>

        <receiver android:name=".silent" >
            <intent-filter>
                <action android:name=".silent" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".unSilence" >
            <intent-filter>
                <action android:name=".unSilence" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".agenda"
            android:label="@string/title_activity_agenda" >
        </activity>
        <activity
            android:name=".edit_events"
            android:label="@string/title_activity_edit_events" >
        </activity>
    </application>

</manifest>
