body
{
	font-family: Arial;
}

/*	colours dark -> light going down
	#36434c
	#6e8397 
	#84a6c9
	#718d98
	#f2eadf
*/

div.currentday
{
	border-style: solid;
    border-width: 2px;
	border-color: silver;
	/*
	color: white;
	background-color: silver;
	*/
}

div.currentday:hover
{
	color: white;
	background-color: #718d98;
}

div.currentmonth
{
	color: black;
	background-color: white;
}

div.currentmonth:hover
{
	color: white;
	background-color: #718d98;
}

div.weekdays div
{
	font-weight: bold;
}

#headwrap 
{
	text-align: center;
	padding: 2px;
	background-color: #36434c;
	padding: 10px;
}

#footwrap 
{
	text-align: center;
	padding: 10px;
	clear: both;
	color: white;
	background-color: #36434c;
	font-weight: bold;
}

#headwrap a
{
	text-decoration: none;
	color: white;
	padding: 10px;
	font-weight: bold;
}

#headwrap a:hover
{
	text-decoration: none;
	color: white;
	padding: 10px;
	background-color: #718d98;
}

div
{
	padding: 10px;
}

.unchecked li
{
	list-style-image: url('icons/unchecked-small.png');
}

.checked li
{
	list-style-image: url('icons/checked-small.png');
}

.eList li
{
	list-style-type: none;
	color: black;
}

.eDay:nth-child(even)
{
	background-color: #f2eadf;
}

.eDay:nth-child(odd)
{
	background-color: white;
}

#budget li
{
	list-style-type: none;
	color: black;
}

#budgetData, .eDetails
{
	display: none;
}

div.tTable
{
	display: table;
}

div.tRow
{
	display: table-row;
}

div.tData
{
	display: table-cell;
	overflow-y: scroll;
}

div.tHeader
{
	font-weight: bold;
}