body
{
	font-family: Arial;
	color: #555555
}

/*	colours dark -> light going down
	#36434c
	#6e8397 
	#84a6c9
	#718d98
	#f2eadf
*/

div.currentday
{
    border-width: 2px;
	background-color: #efefef;
	/*
	color: white;
	background-color: silver;
	*/
}

div.currentday:hover
{
	color: white;
	background-color: #718d98;
}

div.currentmonth
{
	color: #555555;
	background-color: white;
}

div.currentmonth:hover
{
	color: white;
	background-color: #718d98;
}

div.weekdays div
{
	font-weight: bold;
}

#headwrap 
{
	text-align: center;
	padding: 2px;
	background-color: #36434c;
	padding: 10px;
}

#footwrap 
{
	text-align: center;
	padding: 10px;
	clear: both;
	color: white;
	background-color: #36434c;
	font-weight: bold;
}

#headwrap a
{
	text-decoration: none;
	color: white;
	padding: 10px;
	font-weight: bold;
}

#headwrap a:hover
{
	text-decoration: none;
	color: white;
	padding: 10px;
	background-color: #718d98;
}

div
{
	padding: 10px;
}

.unchecked li
{
	list-style-image: url('icons/unchecked-small.png');
}

.checked li
{
	list-style-image: url('icons/checked-small.png');
}

.eList li
{
	list-style-type: none;
	font-size: 10pt;
	font-weight: 600;
}
/*
.eList:nth-child(even)
{
	background-color: #f2eadf;
}

.eList:nth-child(odd)
{
	background-color: white;
}
*/
.eDay
{
	cursor: pointer;
}
.interested
{
	color: #555555;
}



#budget li
{
	list-style-type: none;
}

#budgetData,.eDetails
{
	display: none;
}

div.tTable
{
	display: table;
}

div.tRow
{
	display: table-row;
}

div.tData
{
	display: table-cell;
	overflow-y: scroll;
	font-size: 16pt;
	width: 120px;
	height: 100px;
}

div.weekdays .tData
{
	width: 120px;
	height: 25px;
}

div.tHeader
{
	font-weight: bold;
}

#lightbox
{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,.7);
    text-align: center;
    display: none;
	color: white;
}

#eventDetails
{
	text-align: left;
	
	margin: 0 auto;
	-webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow :0 0 25px #111;
	background-color: white;
	padding: 10px;
	width: 35%;
	color: black;
}

#lgContainer
{
	text-align: center;
	
	margin: 0 auto;
	-webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow :0 0 25px #111;
	padding: 10px;
	width: 35%;
	color: black;
}